<!DOCTYPE html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mobile Status</title>
    <link rel="stylesheet" href="{% static 'css/M_detail.css'%}"/>
  </head>
  <body>
    <h1>MobilePhone</h1>
    <h2>Collect your favorit items</h2>
    <aside class="left">
      <ul>
        <li><a class="active" href="/loginCustomer/MobileStatus">Home</a></li>
        <li><a href="/loginCustomer">Sign Out</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <br><br>
      <p>"If you have any problem to see or collect your favorit mobilephones then conect with us we will help you to find your collections."<br>- Mr Owner</p>
    </aside>
    <img src="" alt="" />
    <aside class="mobile">
      <ul>
        <li>itel</li>
      </ul>
    </aside>

  </body>

</html>