<!DOCTYPE html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
  </head>
  <body>
    <aside class="left">
      <ul>
        <li><a class="active" href="/loginSeller/Dashboard">Home</a></li>
        <li><a href="/loginSeller">Sign Out</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <br><br>
      <p>"Do something important in life. I convert green grass to code."<br>- Mr Camel</p>
    </aside>
    
    <h1>Wellcome</h1>
    <ul>
      <h3><a href="/loginSeller/Dashboard/MobileStatus">list of oders</a><br>
        <a href="/loginSeller/Dashboard/MobileStatus">Add remove status</a></p></h3>
      </ul>    
    <img src="" alt="" />
  </body>
</html>